-@posts.each_with_index do |post, i|
  .post{:class => first_or_last(i, @posts)}
    %h1.tk-divulge
      =link_to post.title.downcase.html_safe, blog_post_path(post)
    .preview= blog_post_preview(post)
    %hr
    .link.center
      =link_to "full article", blog_post_path(post)
