@import "../shared/_mixins";
@import "./github.css";

html, body {
  width: 100%;
  height: 100%;
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
}
.engraved {
  text-shadow: 0px 1px 0px #fff;
}
h1 {
  font-size: 2.5em;
}
code {
  font-family: monospace;
  white-space: pre;
  color: #666;
  background: white;
}
pre code, code.block {
  overflow: auto;
  display: block;
  border: 1px solid #666;
  padding: 10px 15px;
}
.vcc {
  display: table;
  width: 100%;
  height: 100%;
  .vc {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
button, .button {
    display: block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0px 6px 0px; /* Links */
    width: auto;
    overflow: visible;
    @extend .no_select;
}
.button {
  padding: 0;
}
button[type]{
    padding: 5px 0px 5px 0px; /* Firefox */
    line-height: 17px; /* Safari */
}
.right {
  float: right;
}
.left {
  float: left;
}