#site_home_about {
  #bd {
    width: 500px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.4em;
    p {
      margin: 1em 0;
    }
    h1 {
      font-weight: normal;
      text-align: center;
      font-size: 30px;
      margin: 0.5em auto 1em;
      color: #f00;
    }
  }
}
#site_home_index {
  .bernini {
    margin-top: 30px;
  }
}