header {
  padding: 25px;
  width: 250px;
  height: 100%;
  color: #000;
  float: left;
  .logo {
    display: block;
  }
  h1 {
    font-weight: normal;
    font-size: 40px;
  }
  nav {
    padding: 8px 0 0 0;
    font-size: 25px;
    a, a:visited {
      color: #000;
      text-decoration: none;
      padding: 1px 0;
      margin-right: 10px;
      &.first {
        padding-left: 0;
      }
      &:hover {
        text-shadow: none;
        background: #000;
        color: #fff;
      }
      &.active, &:active {
        border-bottom: 1px solid #333;
      }
    }
  }
  margin-bottom: 10px;
}
#bd {
  padding: 5px 25px 50px 25px;
  .center {
    margin: 0 auto;
    text-align: center;
  }
  a, a:visited {
    color: #666;
    text-decoration: underline;
    &:hover {
      color: #000;
    }
  }
}