#wrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  background: #f0f0f0;
  color: #0f0f0f;
  min-height: 100%;
  @include box_shadow(rgba(0,0,0,0.75) 0px 0px 10px);
}
header {
  padding: 25px;
  width: 250px;
  height: 100%;
  color: #000;
  float: right;
  .logo {
    display: block;
  }
  h1 {
    font-weight: normal;
    font-size: 40px;
  }
  nav {
    padding: 8px 0 0 0;
    font-size: 25px;
    a, a:visited {
      color: #000;
      text-decoration: none;
      padding: 1px 0;
      margin-right: 10px;
      &.first {
        padding-left: 0;
      }
      &:hover {
        text-shadow: none;
        background: #000;
        color: #fff;
      }
      &.active, &:active {
        border-bottom: 1px solid #333;
      }
    }
  }
  margin-bottom: 10px;
}
.vr {
  width: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #fff;
  position: absolute;
  right: 310px;
  bottom: 0;
  top: 0;
}
#content {
  margin-right: 300px;
  padding: 5px 25px 50px 25px;
}
.center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
a, a:visited {
  color: #666;
  text-decoration: underline;
  &:hover {
    color: #000;
  }
}    
