%a.forkme{:href => "https://github.com/thegorgon/theautovalidator"}

-content_for :scripts do
  =javascript_include_tag "example/jquery.autovalidator.js"

%h1#projtitle The Autovalidator
.general
  %p The Autovalidator is a client side validation framework built on the jQuery framework. It's design draws heavily from the jQuery UI framework and the Ruby ActiveRecord Validation system. 
  %p The Autovalidator is more of a framework than it is a complete solution. It doesn't come with default handling, and it comes with only a minimum set of built in HTML5 based validations. The Autovalidator instead comes with a framework for registering validations and handling errors in the best way for your application.
  %p It's easier to show than to tell. Check out the examples below for a better sense of how The Autovalidator works.
.example#example1.clearfix
  .describe
    %h3 Individual Input Errors
    %p The most basic example.
    %p The core philosophy behind The Autovalidator is that validation should be customized to match each application. As such, The Autovalidator doesn't come with any default error handling; how you display your errors is up to you and your design. Even in this simple example, therefore, we must define a "change" handler to handle validation state changes.
    %p The Autovalidator exposes a validation change event to change your display to match the current validation state. The validation change event provides access to the input target, current status, validation object that caused the change, and error message. Depending on your application, you may want to use this information in different ways.
    %p
      =link_to "Hide Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'hidesrc'
      =link_to "View Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'showsrc'
  %ul
    %form#individual{:action => "#", :method => "POST"}
      %li
        %label{:for => "required"} required :
        %input#required{"aria-label" => "required", :name => "required", :placeholder => "required field", :required => "true", :type => "text"}
        %span.errors
      %li
        %label{:for => "email"} email :
        %input#email{"aria-label" => "email", :name => "email", :placeholder => "email field", :required => "true", :type => "email"}
        %span.errors
      %li
        %button{:type => "submit"}
          submit
  .source
    %h3 Example Source
    %code.block
      :preserve
        $('#example1 form').autovalidator({
          change: function(event, validator) {
            var container = $(event.target).parent();
            container.removeClass('invalid').removeClass('valid').removeClass('loading').addClass(event.status);
            container.find('.errors').html(event.status == "loading" ? "loading..." : event.message || "");
          }
        });
        
.example#example2.clearfix
  .describe
    %h3 Form Errors
    %p As an example, here's an alternative handling of the change event.
    %p
      =link_to "Hide Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'hidesrc'
      =link_to "View Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'showsrc'
    
  %ul
    %form#form_errors{:action => "#", :method => "POST"}
      %li
        %label{:for => "long"} long :
        %input#long{"aria-label" => "long", :minlength => "10", :name => "long", :placeholder => "long field", :type => "text"}
      %li
        %label{:for => "numbers"} numbers :
        %input#numbers{"aria-label" => "numbers", :name => "numbers", :pattern => "\\d+", :placeholder => "numbers", :type => "text"}
      %li.error-messages
      %li
        %button{:type => "submit"}
          submit
  .source
    %h3 Example Source
    %code.block
      :preserve
        $('#example2 form').autovalidator({
          change: function(event, validator) {
            var container = $(event.target).parent(),
              errors = validator.errors();            
            container.removeClass('invalid').removeClass('valid').removeClass('loading').addClass(event.status);

            if (errors.length > 0) {
              $(this).find('.error-messages').html(errors[0]);
            } else {
              $(this).find('.error-messages').html('');            
            }
          
          }
        });

.example#example3.clearfix
  .describe
    %h3 Custom Validations (Credit Card)
    %p Ok, but those were easy, what about something a bit more complicated.
    %p
      Client side credit card validation can save you and your customer a huge amount of hassle. There are several different validations to run, some of which are much more complex than a simple HTML5 validation. The Autovalidator allows custom validation at both form specific or global levels. Every form has a validation list that includes all the global validations as well as custom registered validations. 
    %p
      The order in which validations run can be important, so validation lists register validations by name and enable registration before or after existing validations. Validations can also be replaced, or unregistered either globally or in a specific instance.
    %p
      Validations are defined by their name, an error message, a jQuery selector, and a test function. The test function is called on input fields matching the selector. In your test functions, simply call <code>this.validity(element, validity, options)</code> to set the validity of the test element. The change event will be triggered with the error message for the validation. Validation objects provide a great deal of flexibility to match any possible validation.
    %p
      =link_to "Hide Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'hidesrc'
      =link_to "View Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'showsrc'
  %ul
    %form#ccform{:action => "#", :method => "POST"}
      %li
        %label{:for => "credit-card-number"} number :
        %input#required{"aria-label" => "number", :name => "credit-card-number", :placeholder => "credit card number", :required => "true", :type => "text"}
        %span.errors
      %li
        %label{:for => "expiration-month"} expiration :
        %select#expiration-month{:name => "expiration-month"}
          %option{:value => "1"} January
          %option{:value => "2"} February
          %option{:value => "3"} March
          %option{:value => "4"} April
          %option{:value => "5"} May
          %option{:value => "6"} June
          %option{:value => "7"} July
          %option{:value => "8"} August
          %option{:value => "9"} September
          %option{:value => "10"} October
          %option{:value => "11"} November
          %option{:value => "11"} December
        %select#expiration-year{:name => "expiration-year"}
          %option{:value => "2011"} 2011
          %option{:value => "2012"} 2012
          %option{:value => "2013"} 2013
          %option{:value => "2014"} 2014
          %option{:value => "2015"} 2015
        %span.errors
      %li
        %button{:type => "submit"}
          submit
  .source
    %h3 Example Source
    %code.block
      :preserve
        $('#example3 form').autovalidator({
          change: function(event, validator) {
            var container = $(event.target).parent();
            container.removeClass('invalid').removeClass('valid').removeClass('loading').addClass(event.status);
            container.find('.errors').html(event.status == "loading" ? "loading..." : event.message || "");
          }
        });

        $('#example3 form').autovalidator('registerEach', [{
          name: 'luhn',
          selector: '[name=credit-card-number]',
          message: function() {
            return "please double check your credit card number";
          },
          test: function(element) {
            var sum = 0, flip = true, i, digit, value = element.val();
            for (i = value.length - 1; i >=0; i--) {
              digit = parseInt(value.charAt(i), 10);
              sum += (flip = flip ^ true) ? Math.floor((digit * 2)/10) + Math.floor(digit * 2 % 10) : digit;
            }
            this.validity(element, sum % 10 === 0);
          }
        },
        {
          name: 'expiration',
          selector:'[name^=expiration-]',
          message: function() {
            return "looks like your card is expired?";
          },
          onChange: false,
          test: function(element) {
            var yearField, monthField, year, month, validity, now = (new Date());
            if (element.attr('name') == 'expiration-month') {
              yearField = element.siblings('[name=expiration-year]');
              monthField = element;
            } else if (element.attr('name') == 'expiration-year') {
              monthField = element.siblings('[name=expiration-month]');
              yearField = element;
            }
            year = yearField.val() - 0;
            month = monthField.val() - 0;
            validity = year > now.getFullYear() || (year === now.getFullYear() && month > now.getMonth() + 1);
            this.validity(monthField, validity);
            this.validity(yearField, validity);
          }
        }]);
  
.example#example4.clearfix
  .describe
    %h3 Server Side Validation
    %p Because the test function action is to call a method on the validation rather than returning a value, asynchronous validation is possible. The Autovalidator also uses a validation state, "loading", to represent a changing validation state during asynchronous validation. Just call <code>this.loading(element)</code> in your test function before making any asynchronous calls.
    %p
      =link_to "Hide Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'hidesrc'
      =link_to "View Source", "#", 'data-toggle-class' => 'withsrc', 'rel' => '.example', 'class' => 'showsrc'
  %ul
    %form#server_form{:action => "#", :method => "POST"}
      %li
        %label{:for => "email"} email :
        %input#server-validated{"aria-label" => "artist", :name => "email", :placeholder => "enter the name of a musician", :required => "true", :type => "text"}
        %span.errors
      %li
        %button{:type => "submit"}
          submit    
  .source
    %h3 Example Source
    %code.block
      :preserve
        $('#example4 form').autovalidator({
          change: function(event, validator) {
            var container = $(event.target).parent();
            container.removeClass('invalid').removeClass('valid').removeClass('loading').addClass(event.status);
            container.find('.errors').html(event.status == "loading" ? "loading..." : event.message || "");
          }
        });
      
        $('#example4 form').autovalidator('register', {
          name: "server_check",
          selector: "#server-validated",
          onSubmit: false,
          message: "cannot find ${name} '${val}'",
          test: function(element) {
            var val = element.val(),
              self = this,
              error = function() {
                self.validity(element, false);
              };
            this.loading(element);
            $.ajax({
              data: {q: "select * from music.artist.search where keyword='" + val + "'", format: "json"},
              url: "http://query.yahooapis.com/v1/public/yql",
              dataType: 'jsonp',
              success: function(data) {
                if (data.query.count - 0 > 0) {
                  self.validity(element, true);
                } else {
                  error();
                }
              }, error: error
            });
          }
        });
    
.external
  %h3 This is awesome!
  %p
    Thanks. Want the code? Or more information?
    =link_to "Check it out on GitHub", "https://github.com/thegorgon/theautovalidator"

.notes
  Many thanks to
  =link_to "the noun project", "http://thenounproject.com/"
  for the robot icon used in the project logo.
