=content_for :stylesheets do
  =include_stylesheets :site

#wrapper
  #intro
    #me
    #bio
      %p="#{content_tag(:strong, "hello")}.".html_safe 
      %p my name is jesse reiss.
      %p i like to build things.
    %nav.int
      =link_to_with_current "about", about_path, :class => "first"
      =link_to_with_current "blog", blog_path
      =link_to_with_current "twitter", twitter_path, :class => 'last'
    %nav.ext
      =img_link_to "logos/external/twitter-32x32.png", "http://twitter.com/jessereiss", :size => "32x32", :alt => "twiiter"     
      =img_link_to "logos/external/aboutme-32x32.png", "http://about.me/jessereiss", :class => "first", :size => "32x32", :alt => "about.me"
      =img_link_to "logos/external/linkedin-32x32.png", "http://www.linkedin.com/in/jessereiss", :size => "32x32", :alt => "linkedin"
      =img_link_to "logos/external/github-32x32.png", "https://github.com/thegorgon", :size => "32x32", :alt => "github"
      =img_link_to "logos/external/stackoverflow-32x32.png", "http://stackoverflow.com/users/654332/jesse-reiss", :size => "32x32", :alt => "stackoverflow"
