@import "../shared/_mixins";

h1 {
  margin-bottom: 15px;
}
#moon_simulation {
  .controls {
    margin-top: -5px;
    width: 600px;
    height: 20px;
    @include gradient_top_down(#ddd, #999);
    a {
      text-align: center;
      line-height: 20px;
      display: block;
      height: 20px;
      width: 33px;
      border-right: 1px solid #fff;
      float: left;
      &:hover {
        @include gradient_top_down(#999, #ddd);
      }
    }
  }
}