-@posts.each_with_index do |post, i|
  =haml :post, :layout => false, :locals => {:post => post, :first_or_last => first_or_last(i, @posts), :show_comments => false}
  
.pagination.clearfix
  -if @posts.previous_page
    %a{:href => url("/blog/page/#{@posts.previous_page}")}
      < Newer Entries
  -if @posts.next_page
    %a{:href => url("/blog/page/#{@posts.next_page}")}
      Older Entries >