#wrapper
  #intro
    #me
    #bio
      %p="<strong>hello</strong>."
      %p my name is jesse reiss.
      %p i like to build things.
    %nav.int
      =link_to_with_current "about", '/about', :class => "first"
      =link_to_with_current "blog", '/blog'
      =link_to_with_current "projects", '/projects'
    %nav.ext.clearfix
      %a.twitter.first{:target => "_new", :href => "http://twitter.com/jessereiss"} &nbsp;
      %a.aboutme{:target => "_new", :href => "http://about.me/jessereiss"} &nbsp;
      %a.linkedin{:target => "_new", :href => "http://www.linkedin.com/in/jessereiss"} &nbsp;
      %a.github{:target => "_new", :href => "https://github.com/thegorgon"} &nbsp;
      %a.stackoverflow.last{:target => "_new", :href => "http://stackoverflow.com/users/654332/jesse-reiss"} &nbsp;