#projects
  %a.project#autovalidator.javascript.code{:href => "/projects/autovalidator"}
    .image
    .title The Autovalidator
    .description
      A Client-Side Validation Framework built with jQuery. 
  %a.project#sinatra_sprockets.ruby.code{:href => "http://github.com/thegorgon/sinatra-sprockets"}
    .image
    .title Sinatra Sprockets
    .description
      Ruby Gem for using Sinatra with Sprockets. 
  %a.project#tumblrb.ruby.code{:href => "http://github.com/thegorgon/tumblrb"}
    .image
    .title Tumblrb
    .description
      Tumblr + Redis + Ruby = Simple Reliable Blogging.
  %a.project#jpop.javascript.code{:href => "http://github.com/thegorgon/jpop"}
    .image
    .title jPop
    .description
      iPad style popovers with jQuery.
  %a.project#jstretcher.javascript.code{:href => "http://github.com/thegorgon/jstretcher"}
    .image
    .title jStretcher
    .description
      Simple stretchable background images with jQuery.
  %a.project#spotforiphone.mobile{:href => "http://www.spotmembers.com/getspot"}
    .image
    .title Spot for iPhone
    .description
      Place wishlists and Spot Membership companion.
  %a.project#spotmembers.web{:href => "http://www.spotmembers.com"}
    .image
    .title Spot Members
    .description
      $5 a Month. Hundreds in Savings.      
  %a.project#gorgontwitter.web.javascript{:href => url('/twitter')}
    .image
    .title Gorgon Eats Twitter
    .description
      Playing around with the Twitter client side API.