=content_for :stylesheets do
  =include_stylesheets :site

=content_for :header do
  =link_to image_tag("logos/me202x75.png", :size => '151x56'), root_path, :class => 'logo'
  %h1 the gorgon lab
  %nav.special
    =link_to_with_current "about", about_path, :class => "first"
    =link_to_with_current "blog", blog_path
    =link_to_with_current "twitter", twitter_path
  %summary
    %p my name is jesse reiss, and this is my website.
    %p i like putting my ideas in the tubes.
    %p i hope you like receiving them.

=content_for :post_header do
  .rule

= render :file => 'layouts/application'